<%- include("head.partial.ejs") %>


  <h1><%= title %></h1>
  <div>
    <%- include("forms/generic.ejs", form) %>
  </div>
  <span>Masz już konto? <a href="/auth/login">Zaloguj się!</a></span>


<%- include("foot.partial.ejs") %>