html {
    background-image: url("nyancat.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;

    
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    --text-color-normal: rgb(1, 44, 44);
    --text-color-link: rgb(128, 0, 139);
    --backdrop: rgba(249, 197, 255, 0.493);

    width: 80rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: monospace;

    background-color: var(--backdrop);
    color: var(--text-color-normal);
}
main[data-theme='dark']{
    --text-color-normal: azure;
    --text-color-link: rgb(234, 0, 255);
    --backdrop: rgba(233, 33, 252, 0.493);

    width: 80rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: monospace;

    background-color: var(--backdrop);
    color: var(--text-color-normal);
}

.action-link {
    font-size: 0.8rem;
}

.pics-action {
    display: inline;
}

ul#category li {
    white-space: pre;
    text-wrap-mode: nowrap;
    white-space-collapse: preserve;
}
a:link {
  color: rgb(234, 0, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(23, 21, 117);
  background-color: transparent;
  text-decoration: none;
}
a:visited[data-theme='dark'] {
  color: rgb(145, 143, 253);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(138, 115, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:hover[data-theme='dark'] {
  color: rgb(255, 213, 0);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(0, 114, 143);
  background-color: transparent;
  text-decoration: underline;
}
a:active[data-theme='dark'] {
  color: rgb(0, 204, 255);
  background-color: transparent;
  text-decoration: underline;
}